body {
  background: #f4b953;
  color: #fae183;
}

h1 {
  margin: 5px 0 5px 0;
  font-size: 40px;
}

h4 {
  text-align: center;
  margin: 5px 0 5px 0;
  font-size: 28px;
}

input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #9d3327;
  padding: 0 0 0 15px;
  box-shadow: inset 0px 0px 2px 0px rgb(175, 175, 175);
}

button {
  width: 60px;
  height: 25px;
  background: white;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 5px;
  box-shadow: 1px 1px 5px 1px rgb(116, 106, 106);
}

p {
  font-size: 24px;
}

.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  min-height: 400px;
  width: 350px;
  min-width: 250px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background: #9d3327;
  box-shadow: 2px 2px 7px 2px #2c2c2c;
}

.list {
  display: flex;
  flex-direction: column;
}

.dice-bag {
  height: 30%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 0 0;
}

.dice {
  height: 40px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fae183;
  border-radius: 5px;
  margin: 0 0 0 15px;
}

.separator {
  border-bottom: solid 1px black;
  margin: 5px;
  height: 10px;
  width: 80%;
}
