/* Color palette */
.colors {
  color: #495867;
  color: #577399;
  color: #bdd5ea;
  color: #f7f7ff;
  color: #fe5f55;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: #f7f7ff;
  color: #495867;
  padding: 50px 0 0 0;
  margin: 0 10% 10% 10%;
}

h1 {
  margin: 5px 0 5px 0;
  font-size: 32px;
  text-decoration: underline;
}

h2 {
  margin: 5px 0 5px 0;
  font-size: 18px;
}

h4 {
  text-align: center;
  margin: 5px 0 5px 0;
  font-size: 28px;
}

input {
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 0 0 0 15px;
  box-shadow: inset 0.5px 0.5px 3px 0.5px rgb(175, 175, 175);
  background: #f7f7ff;
}

button {
  min-width: 60px;
  height: 25px;
  background: #577399;
  color: #bdd5ea;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 5px;
  box-shadow: 0px 1px 5px 1px rgba(49, 48, 48, 0.288);
}

button:hover {
  cursor: pointer;
  background: #bdd5ea;
  color: #577399;
}

button:active {
  box-shadow: 1px 1px 2.5px 0.5px rgba(126, 123, 123, 0.233);
  background: #bdd5ea;
  color: #577399;
}

p {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-height: 90%;
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: #bdd5ea;
}

/* #region Nav */

nav {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  background: rgba(17, 17, 17, 0.938);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.705);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}

nav ul {
  z-index: 3;
}

nav li {
  width: 250px;
  height: 50px;
  text-align: center;
  font-weight: 750;
}

nav > a {
  display: flex;
  width: 110px;
}

nav a:hover {
  font-size: 2.8rem;
  transition: all 0.3s ease-in-out;
}

.nav-section {
  position: absolute;
}

.nav-opened {
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}
.nav-closed {
  top: 0px;
  left: -615px;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

.ham-button-container {
  width: 30px;
  height: 20px;
  position: fixed;
  left: 25px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

.ham-button-container:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #577399;
}

.light-line {
  width: 100%;
  height: 2px;
  background-color: #bdd5ea;
}

.top-line-x {
  transform: rotate(45deg);
  top: 9px;
}

.mid-line-x {
  left: -400px;
}

.bot-line-x {
  transform: rotate(-45deg);
  top: -9px;
}

.top-line-x,
.mid-line-x,
.bot-line-x {
  position: relative;
  transition: transform 0.8s ease-in-out;
}

/* #endregion */

.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  min-height: 400px;
  max-width: 400px;
  min-width: 400px;
  margin: 25px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 1px 3.5px 15px 2px #a3a3a362;
  flex: 1;
}

.card-container {
  min-height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-bag {
  height: 40%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 0 0;
}

.dice {
  height: 35px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #583e3c86;
  border-radius: 5px;
  margin: 0 0 0 15px;
}

.list {
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-list-item {
  width: 95%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.to-do-list-text {
  max-width: 75%;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.trash-can {
  font-size: 22px;
}

.trash-can:hover {
  cursor: pointer;
}

.counter-button-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.person-info-container {
  height: 65%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error-message {
  margin: 50px 0 0 0;
  color: #fe5f55;
}

#AosTesting li {
  font-size: 18px;
  margin: 10px 0 5px 0;
}
