/* Color palette */
.colors {
  color: #495867;
  color: #577399;
  color: #bdd5ea;
  color: #f7f7ff;
  color: #fe5f55;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f7ff;
  color: #495867;
  padding: 50px 0 0 0;
}

h1 {
  margin: 5px 0 5px 0;
  font-size: 32px;
  text-decoration: underline;
}

h2 {
  margin: 5px 0 5px 0;
  font-size: 18px;
}

h4 {
  text-align: center;
  margin: 5px 0 5px 0;
  font-size: 28px;
}

input {
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 0 0 0 15px;
  box-shadow: inset 0.5px 0.5px 3px 0.5px rgb(175, 175, 175);
  background: rgb(255, 255, 255);
}

button {
  min-width: 60px;
  height: 25px;
  background: #577399;
  color: #bdd5ea;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 5px;
  box-shadow: 0px 1px 5px 1px rgba(49, 48, 48, 0.288);
}

button:hover {
  cursor: pointer;
  background: #bdd5ea;
  color: #577399;
}

button:active {
  box-shadow: 1px 1px 2.5px 0.5px rgba(126, 123, 123, 0.233);
  background: #bdd5ea;
  color: #577399;
}

p {
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-height: 90%;
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #bdd5ea;
}

.nav-opened a,
.nav-opened ul,
.nav-opened li {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.nav-closed a,
.nav-closed ul,
.nav-closed li {
  position: fixed;
  right: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-closed {
  display: flex;
  position: absolute;
  right: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-opened {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 800px;
  width: 50%;
  height: 100%;
  background: #495867;
  color: #bdd5ea;
  border-radius: 7.5px 0 0 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.dark-ham,
.light-ham {
  font-size: 28px;
  width: 35px;
  height: 40px;
  position: fixed;
  right: 10px;
  top: 10px;
  background: none;
  color: #495867;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 3;
}

.top-line,
.mid-line,
.bot-line,
.top-line-x,
.mid-line-x,
.bot-line-x {
  border-top: 3px #495867 solid;
  transition: all 1s ease-in-out;
  position: relative;
}

.top-line-x,
.mid-line-x,
.bot-line-x {
  border-top: 3px #bdd5ea solid;
}

.top-line-x {
  transform: rotate(45deg);
  top: 10px;
}

.mid-line-x {
  opacity: 0;
  right: -100px;
}

.bot-line-x {
  transform: rotate(-45deg);
  top: -10px;
}

.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  min-height: 400px;
  min-width: 300px;
  max-width: 500px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 1px 3.5px 15px 2px #a3a3a362;
  flex: 1;
}

.card-container {
  min-height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-bag {
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 0 0;
}

.dice {
  height: 35px;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #583e3c;
  border-radius: 5px;
  margin: 0 0 0 15px;
}

.separator {
  border-bottom: 2.5px solid #583e3c;
  margin: 5px;
  height: 10px;
  width: 80%;
}

.list {
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-list-item {
  width: 95%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.to-do-list-text {
  max-width: 75%;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.to-do-list-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.pencil {
  font-size: 22px;
}

.trash-can {
  font-size: 22px;
}

.trash-can:hover {
  cursor: pointer;
}

.counter-button-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.person-info-container {
  height: 65%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#AosTesting li {
  font-size: 18px;
  margin: 10px 0 5px 0;
}
